* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.title {
	margin-bottom: 15px;
	margin-top: 20px;
}

.subtitle {
	margin-top: 5px;
}

footer {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

footer a {
	text-decoration: underline;
	color: black;
}

blockquote, q {
    margin: 0 0 10px;
    padding: 20px;
    background: #faf8f5;
    border: 1px solid #efece9;
    border-radius: 10px;
    color: #555554;
    display: inline-block;
}

blockquote p, q p {
    font-size: 1.125rem;
    line-height: 1.8125rem;
    margin: 0 0 20px;
    padding: 0;
}

blockquote, blockquote p, q, q p {
    font-family: "Georgia",serif;
    color: #555554;
}

@media (min-width: 920px) {
  .logo {
	  width: 20px;
	  height: 20px;
   }
}

@media (max-width: 300px) {
  blockquote {
  	width: 80%;
  }
  .content {
  	margin-top: 15px;
  }
}
